
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for item in melon_objects %}
            <tr>
                <td>{{ item.common_name }}</td>
                <td> {{ item.quantity }}</td>
                <td> $ {{ item.price }}</td>
                <td> $ {{ item.melon_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Total: ${{ order_total }}</h3>
    

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
